# Python Cache and Virtual Environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.pytest_cache/


.agents
.codex
AGENTS.md
models/
# Generated gRPC / Protocol Buffers files
core/stream_list_pb2.py
core/stream_list_pb2_grpc.py

#dicts
dict/
デフォルト.json

# Local Logs
*.log
app_run.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.suo

# OS files
.DS_Store
Thumbs.db
config.json
sounds/
build/
dist/